<section id="events" class="section-events">
  <div class="container">
    <h3 class="events-subtitle">
      <img src="./img/transparent.png" alt="Leaf" class="decor-leaf" width="30"/>
      Unsere
      <img src="./img/transparent2.png" alt="Leaf" class="decor-leaf" width="30" />
    </h3>
    <h2 class="events-title">Events</h2>
    <p class="events-text">
      Besondere Momente in gemütlicher und natürlicher Atmosphäre
    </p>
    <div class="wrapper-events">
      <ul class="events-list">
        <li class="events-item events-item-left">
          <h3 class="ivents-item-title">Events</h3>
          <p class="ivents-item-text">
            Geburtstage, Jubiläen, Hochzeiten und andere besondere Anlässe
          </p>
          <button type="button">Anfragen</button>
        </li>
        <li class="events-item events-item-right">
          <h3 class="ivents-item-title">Firmenfeiern</h3>
          <p class="ivents-item-text">
            Der perfekte Ort für Ihr Unternehmens-Event
          </p>
          <button type="button">Anfragen</button>
        </li>
      </ul>
    </div>
  </div>
</section>
