<footer class="footer">
  <div class="container footer-list">
    <div class="footer-grid">
      <!-- 1 left -->
      <div class="footer-col brand-col">
        <a href="./index.html" class="footer-logo">
          <img
            src="./img/logo2.png"
            alt="Restaurant"
            width="200"
            height="100"
          />
        </a>
        <p class="footer-text">
          Italiesnische Küche mit Herz in einzigartigem Ambiente. Genießen Sie
          besondere Momente bei uns.
        </p>
        <div class="social-block">
          <h4 class="social-title">Folgen Sie uns</h4>
          <div class="social-icon">
            <a
              href="https://www.instagram.com/ristorante.autentico_"
              class="social-link"
              target="_blank"
              aria-label="Instagram"
            >
              <svg height="24" width="24" class="social-icon">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
            <a
              href="https://www.facebook.com/profile.php?id=61589402083102"
              class="social-link"
              target="_blank"
              aria-label="Facebook"
            >
              <svg height="24" width="24" class="social-icon">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <!-- 2 left -->
      <div class="footer-col">
        <h3 class="footer-title">Kontakt</h3>
        <ul class="contact-list">
          <li class="contact-item">
            <svg height="24" width="24" class="social-icon">
              <use href="./img/icons.svg#icon-phone"></use>
            </svg>
            <a class="contacts-link" href="tel:+4915252301326"
              >+49 1525 2301326</a
            >
          </li>
          <li class="contact-item">
            <svg height="24" width="24" class="social-icon">
              <use href="./img/icons.svg#icon-email"></use>
            </svg>
            <a
              class="contacts-link"
              href="mailto:info.autenticoristorante@gmail.com"
              >info.autenticoristorante@gmail.com</a
            >
          </li>
          <li class="contact-item address-item">
            <svg height="24" width="24" class="social-icon">
              <use href="./img/icons.svg#icon-location"></use>
            </svg>
            Murgtalstraße. 655, 72270, Baiersbronn-Schönmünzach
          </li>
        </ul>
      </div>

      <!-- 3 right -->

      <!-- 3 колонка: Графік роботи -->
      <div class="footer-col">
        <h3 class="footer-title">Öffnungszeiten</h3>
        <ul class="hours-list">
          <li class="hours-item">
            Frühstück<br /><span>8:00 - 10:30 Uhr</span>
          </li>
          <li class="hours-item">
            Warme Küche<br /><span>18:00 - 22:00 Uhr</span>
          </li>
          <li class="hours-item">
            Mo, Mi-So<br /><span>8:00 - 22:00 Uhr</span>
          </li>

          <li class="hours-item">Dienstag ist Ruhetag</li>
        </ul>
      </div>

      <!-- 4 right -->
      <div class="footer-col action-col">
        <h3 class="footer-title">Tisch Reservieren</h3>
        <p class="action-text">
          Reservieren Sie jetzt Ihren Tisch und freuen Sie sich auf einen
          unvergesslichen Abend.
        </p>
        <a href="#" class="reserve-btn js-open-form">Jetzt Reservieren</a>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-bottom-links">
        <a href="./impressum.html">Impressum</a>
        <span class="separator">|</span>
        <a href="./datenschutz.html">Datenschutz</a>
      </div>
      <p class="copyright">
        © 2026 Das Authentische Restaurant. Alle Rechte vorbehalten.
      </p>
      <!-- <a href="#header" class="to-top-btn" aria-label="Nach oben">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <polyline points="18 15 12 9 6 15"></polyline>
        </svg>
      </a> -->
    </div>
  </div>
</footer>
