<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <img src="./img/logo2.png" alt="Logo" width="200" height="100" />
        <!-- <svg class="nav-logo-icon" width="100" height="30">
          <use href="{=$icon-path}"></use>
        </svg> -->
      </a>
      <div class="wrapper-menu">
        <button class="menu-open-btn" type="button" aria-label="Open menu">
          <svg class="icon-header" width="32" height="32">
            <use href="./img/icons.svg#icon-menu-svgrepo-com"></use>
          </svg>
        </button>

        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link {=$highlight-curr}" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {=$highlight-curr}" href="#about"
              >Das Restaurant</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link {=$highlight-curr}" href="#speisekarte"
              >Speisekarte</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link {=$highlight-curr}" href="#events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {=$highlight-curr}" href="#gallery">Galerie</a>
          </li>
        </ul>
        <button class="btn-reserv js-open-form" type="button">Reservierung</button>
      </div>
    </nav>
  </div>

  <div class="header-burger-backdrop">
    <div class="header-burger-menu">
      <button class="header-close-btn" type="button" aria-label="Close button">
        <svg class="header-close-icon icon-header" width="28" height="28">
          <use href="./img/icons.svg#icon-close-svgrepo-com"></use>
        </svg>
      </button>
      <ul class="header-burger-menu-list">
        <li class="header-burger-menu-list-item">
          <a href="/" class="header-burger-list-item-link">Home</a>
        </li>
        <li class="header-menu-list-item">
          <a href="#about" class="header-burger-list-item-link"
            >Das Restaurant</a
          >
        </li>
        <li class="header-menu-list-item">
          <a href="#speisekarte" class="header-burger-list-item-link"
            >Speisekarte</a
          >
        </li>
        <li class="header-menu-list-item">
          <a href="#events" class="header-burger-list-item-link">Events</a>
        </li>
        <li class="header-menu-list-item">
          <a href="#gallery" class="header-burger-list-item-link">Galerie</a>
        </li>
      </ul>
      <button class="header-burger-button js-open-form" type="button">Reservierung</button>
    </div>
  </div>
</header>
