<section class="hero-section">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title visually-hidden">
        Ristorante e pinseria - I Baroni
      </h1>
    </div>

    <ul class="hero-list">
      <li class="hero-item">
        <svg class="icon-hero" width="32" height="32">
          <use href="./img/icons.svg#icon-coffee"></use>
        </svg>
        <h3 class="hero-subtitle">Frühstück</h3>
        <p class="hero-time">8:00 - 10:30 Uhr</p>
        <p class="hero-text">Genießen Sie unser reichhaltiges Frühstücksbuffet</p>
      </li>
      <li class="hero-item">
        <svg class="icon-hero" width="32" height="32">
          <use href="./img/icons.svg#icon-food"></use>
        </svg>
        <h3 class="hero-subtitle">Warme Küche</h3>
        <p class="hero-time">18:00 - 22:00 Uhr</p>
        <p class="hero-text">Am Abend servieren <br> wir Ihnen frisch</p>
      </li>
      <li class="hero-item">
               <p class="hero-time">Dienstag ist Ruhetag</p>
      </li>
    </ul>
  </div>
</section>
