<section id="speisekarte" class="section-spaisekarte">
  <div class="container">
    <div class="category-wrapper">
      <!-- Кнопки керування -->
      <div class="tab-menu">
        <button class="tab-link active" data-target="pic1">Vorspeisen</button>
        <button class="tab-link" data-target="pic2">Salate</button>
        <button class="tab-link" data-target="pic3">Paste</button>
        <button class="tab-link" data-target="pic4">Pinsa</button>
        <button class="tab-link" data-target="pic5">Fleisch</button>
        <button class="tab-link" data-target="pic6">Kinderkarte</button>
        <button class="tab-link" data-target="pic7">Dessert</button>
        <button class="tab-link" data-target="pic8">Gätrenke</button>
      </div>

      <!-- Блоки з фото -->
      <div id="pic1" class="tab-panel" style="display: block">
        <img src="./img/menu/1-big.jpg" alt="Vorspeisen" class="main-photo" />
      </div>

      <div id="pic2" class="tab-panel">
        <img src="./img/menu/2-big.jpg" alt="Salate" class="main-photo" />
      </div>

      <div id="pic3" class="tab-panel">
        <img src="./img/menu/3-big.jpg" alt="Nudelgerischte" class="main-photo" />
        <img src="./img/menu/3-big-1.jpg" alt="Nudelgerischte" class="main-photo" />
      </div>
      <div id="pic4" class="tab-panel">
        <img src="./img/menu/4-big.jpg" alt="Pinsa" class="main-photo" />
        <img src="./img/menu/4-big-1.jpg" alt="Pinsa" class="main-photo" />
      </div>
      <div id="pic5" class="tab-panel">
        <img src="./img/menu/5-big.jpg" alt="Fleisch" class="main-photo" />
      </div>
      <div id="pic6" class="tab-panel">
        <img src="./img/menu/6-big.jpg" alt="Kinderkarte" class="main-photo" />
      </div>
      <div id="pic7" class="tab-panel">
        <img src="./img/menu/7-big.jpg" alt="Dessert" class="main-photo" />
      </div>
      <div id="pic8" class="tab-panel">
        <img src="./img/menu/8-big.jpg" alt="Gätrenke" class="main-photo" />
        <img src="./img/menu/8-big-1.jpg" alt="Gätrenke" class="main-photo" />
        <img src="./img/menu/8-big-2.jpg" alt="Gätrenke" class="main-photo" />
      </div>

    </div>
  </div>
</section>
