.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0 0 10px;
  /* color: #e2d1bd; */
  background-color: #8f724f;
}

.wrapper-menu {
  display: flex;
  gap: 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  font-family: 'CormorantGaramond';
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  padding: 20px 0;
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #fff;
}
.btn-reserv {
  display: none;
  margin: auto;
  color: #083335;
  border: 1px solid #083335;
  border-radius: 35px;
  padding: 10px 24px;
  font-size: 23px;
}

.btn-reserv:hover {
  color: #000;
}

@media screen and (min-width: 1200px) {
  .menu-open-btn {
    display: none; /* Ховаємо бургер */
  }
  .nav-list {
    display: flex;
    font-size: 23px;
    font-weight: 700;
  }
  .header-burger-backdrop {
    display: none; /* Повністю прибираємо мобільне меню */
  }

  .btn-reserv {
    display: unset;
  }
}

/* Mobile */

.header-burger-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 300ms ease,
    visibility 300ms ease;
}

.icon-header {
  fill: #e2d1bd;
}

.header-burger-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header-burger-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 320px;
  height: 100%;
  background-color: #8f724f;
  padding: 48px 24px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 300ms ease;
}

.header-burger-backdrop.is-open .header-burger-menu {
  transform: translateX(0);
}

.header-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

.header-burger-menu-list {
  list-style: none;
  padding: 0;
  margin: 60px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header-burger-list-item-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none;
  transition: color 250ms ease;
}

.header-burger-list-item-link:hover,
.header-burger-list-item-link:focus {
  color: #083335;
}

.header-burger-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #083335;
  border: 1px solid #083335;
  border-radius: 35px;
  padding: 10px 24px;
  margin: 0 auto;
}
