.section-spaisekarte {
  padding: 50px 0;
}

.category-wrapper {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

/* Стиль кнопок */
.tab-menu {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.tab-link {
  font-size: 16px;
  background: #083335;
  color: #fff;
  /* border: 1px solid #444; */
  padding: 12px 24px;
  cursor: pointer;
  transition: 0.3s;
}
.tab-link.active {
  background: #8f724f;
  /* color: #083335;  */
}

/* Ховаємо блоки за замовчуванням */
.tab-panel {
  max-width: 700px;
  margin: auto;
  display: none;
  animation: fadeIn 0.5s;
}

/* Стиль самого фото */
.main-photo {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

/* Плавна поява */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  .tab-link {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .category-wrapper {
    max-width: 1000px;
  }
  .tab-link {
    font-size: 32px;
  }
}
